<div class="modal fade" tabindex="-1" #modalElement>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{ titulo }}</h5>
        <button type="button" class="btn-close" (click)="fechar()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>{{ mensagem }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="fechar()">Fechar</button>
      </div>
    </div>
  </div>
</div>
